@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Timmana&display=swap');

.header {
    position: fixed; /* Fixe la navbar en haut de la page */
    display: flex; /* Active Flexbox */
    align-items: center; /* Centre les items verticalement */
    justify-content: space-between; /* Place les items aux extrémités */
    top: 0;
    left: 0;
    width: 100%; /* Prend toute la largeur */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Espacement autour des items */
    z-index: 10; /* Assure que la navbar est au-dessus des autres éléments */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ajoute une ombre pour un effet visuel */
}

.logoayd {
    width: 50px; /* Ajuste la taille de l'image selon tes besoins */
    height: auto; /* Garde les proportions de l'image */
    margin-right: 10px;
    padding-left: 0;
}

.brandname {
    font-family: 'Jost', sans-serif; /* Utilise la police Jost */
    font-size: 24px; /* Taille de la police */
    font-weight: 700; /* Épaisseur de la police */
    color: #00ff00; /* Couleur du texte */
    text-shadow: 0 0 5px rgba(0, 255, 0, 0.5); /* Ombre portée pour un effet lumineux */
    margin-left: 10px; /* Espacement à gauche */
    padding-left: 10;
}