@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Timmana&display=swap');

.header {
    position: fixed; /* Fixe la navbar en haut de la page */
    display: flex; /* Active Flexbox */
    align-items: center; /* Centre les items verticalement */
    top: 0;
    left: 0;
    width: 100%; /* Prend toute la largeur */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Espacement autour des items */
    z-index: 10; /* Assure que la navbar est au-dessus des autres éléments */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ajoute une ombre pour un effet visuel */
}

.logoayd {
    width: 50px; /* Ajuste la taille de l'image selon tes besoins */
    height: auto; /* Garde les proportions de l'image */
    margin-right: 10px;
    padding-left: 0;
}

.brandname {
    font-family: 'Jost', sans-serif; /* Utilise la police Jost */
    font-size: 24px; /* Taille de la police */
    font-weight: 700; /* Épaisseur de la police */
    color: #00ff00; /* Couleur du texte */
    text-shadow: 0 0 5px rgba(0, 255, 0, 0.5); /* Ombre portée pour un effet lumineux */
    margin-left: 10px; /* Espacement à gauche */
    padding-left: 10;
}

.navbutton {
    margin-left: auto; /* Pousse le bouton à droite */
    display: flex; /* Active Flexbox pour le bouton */
    align-items: center; /* Centre le contenu verticalement */
}

.navbutton button {
    background-color: #046704; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte */
    font-family: 'Jost', sans-serif; /* Utilise la police Jost */
    font-weight: 500; /* Épaisseur de la police */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    padding: 5px 10px; /* Espacement interne */
    font-size: 16px; /* Taille de la police */
    cursor: pointer; /* Curseur en main au survol */
    transition: background-color 0.3s ease; /* Transition pour l'effet au survol */
}

.navbutton button:hover {
    background-color: #034f03;; /* Couleur de fond au survol */
}